<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org/DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="RegistDAO">
	<insert id="registUser" parameterType="Map">
		insert into member
		(email, name, nickname, password, regist_time)
		values
		(#{email}, #{name}, #{nickname}, #{password}, now())
	</insert>
</mapper>