<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org/DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="RegistDAO">
	<insert id="registUser" parameterType="Map">
		insert into member
		(email, name, nickname, password, regist_time, is_deleted, deleted_date)
		values
		(#{email}, #{name}, #{nickname}, #{password}, now(), 0, null)
	</insert>
	
	<select id="existUserCnt" parameterType="String" resultType="int">
		SELECT COUNT(*) as cnt from member
		WHERE email = #{email}
		
	</select>
	
	<select id="findUser" parameterType="Map" resultType="Map">
		select password from member
		where email = #{email}
	</select>
</mapper>