<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org/DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="BoardDAO" >
	<select id="getBoardList" parameterType="Map" resultType="Map">
		SELECT * FROM board
		WHERE member_no = #{member_no} 
	</select>
	
	<insert id="createBoard" parameterType="Map">
		INSERT INTO board 
		(member_no, title, create_time, count)
		VALUES
		(#{member_no}, #{title}, NOW(), 0);
	</insert>
	
	<select id="getCardList" parameterType="String" resultType="Map">
		SELECT * FROM cards_list
		WHERE board_no = #{board_no} 
	</select>
	
	<select id="getCard" parameterType="String" resultType="Map">
		SELECT * FROM card
		WHERE board_no = #{board_no}
	</select>
	
	<!-- card dnd 업데이트 -->
	<update id="updateCard" parameterType="Map">
		update card
		set card_list_no = #{card_list_no}
		where card_no = #{card_no}
	</update>
	
	<!-- 최근에 만든 보드의 넘버 가져오기 -->
	<select id="getLastBoard" parameterType="Map" resultType="Map">
		SELECT DISTINCT LAST_INSERT_ID() AS last_board_no
		FROM board
		WHERE member_no = #{member_no}
	</select>
	
	<!-- 임시 count 가져오기 테스트용-->
	<select id="getCount" parameterType="Map" resultType="Map">
		SELECT count FROM board
		WHERE board_no = #{board_no}
	</select>
	
	<update id="setCount" parameterType="Map">
		UPDATE board
		set count = #{count}
		where board_no = #{board_no}
	</update>
	
	<insert id="initialCardsList" parameterType="List">
		INSERT INTO cards_list (board_no, title) VALUES
		<foreach collection="list" item="item" separator=",">
    		(#{item.board_no}, #{item.title})
  		</foreach>
	</insert>
</mapper>