<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org/DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="BoardDAO" >
	<select id="getBoardList" parameterType="Map" resultType="Map">
		SELECT * FROM board
		WHERE member_no = #{member_no} 
	</select>
	
	<insert id="createBoard" parameterType="Map">
		INSERT INTO board 
		(member_no, title, create_time)
		VALUES
		(#{member_no}, #{title}, NOW());
	</insert>
	
	<select id="getCardList" parameterType="Map" resultType="Map">
		SELECT * FROM cards_list
		WHERE board_no = #{board_no}
		ORDER BY list_order ASC
	</select>
	
	<select id="getCard" parameterType="Map" resultType="Map">
		SELECT * FROM card
		WHERE board_no = #{board_no}
		
	</select>
	
	<!-- card dnd 업데이트 -->
	<update id="updateCard" parameterType="Map">
		update card
		set card_list_no = #{card_list_no}
		where card_no = #{card_no}
	</update>
	
	<!-- 최근에 만든 보드의 넘버 가져오기 -->
	<select id="getLastBoard" parameterType="Map" resultType="Map">
		SELECT DISTINCT LAST_INSERT_ID() AS last_board_no
		FROM board
		WHERE member_no = #{member_no}
	</select>
	
	<insert id="initialCardsList" parameterType="List">
		INSERT INTO cards_list (board_no, title, list_order) VALUES
		<foreach collection="list" item="item" separator=",">
    		(#{item.board_no}, #{item.title}, #{item.list_order})
  		</foreach>
	</insert>
	
	
	<select id="getCardListNo" parameterType="Map" resultType="Map">
		SELECT cards_list_no
		FROM cards_list
		WHERE board_no = #{board_no} AND title = #{title}
	</select>
	
	<insert id="initialCard" parameterType="List">
		INSERT INTO card (contents, card_list_no, board_no, card_order) VALUES
		<foreach collection="list" item="item" separator=",">
    		(#{item.contents}, #{item.card_list_no}, #{item.board_no}, #{item.card_order})
  		</foreach>
	</insert>
	
	<!-- cards_list position update -->
	<update id="cardsListInsertPosition" parameterType="Map">
		UPDATE cards_list
		SET list_order = #{destination_list_order}
		WHERE cards_list_no = #{cards_list_no}
	</update>
	
	<update id="cardsListHighPosition" parameterType="Map">
	<![CDATA[
		UPDATE cards_list
		SET list_order = list_order - 1
		WHERE board_no = #{board_no}
		AND list_order <= #{destination_list_order}
		AND list_order > #{source_list_order}
	]]>
	</update>
	
	<update id="cardsListLowPosition" parameterType="Map">
	<![CDATA[
		UPDATE cards_list
		SET list_order = list_order + 1
		WHERE board_no = #{board_no}
		AND list_order >= #{destination_list_order}
		AND list_order < #{source_list_order}
	]]>
		
	</update>
	
	<!-- card position update -->
	<update id="cardMissingPosition" parameterType="Map">
    	UPDATE card
		SET card_order = card_order - 1
		WHERE board_no = #{board_no} AND card_list_no = #{source_card_list_no} AND card_order > #{source_card_order}
	</update>
	
	<update id="cardInsertPosition" parameterType="Map">
	  UPDATE card
	  SET card_list_no = #{destination_card_list_no}, card_order = #{destination_card_order}
	  WHERE card_no = #{card_no} AND board_no = #{board_no} AND card_list_no = #{source_card_list_no};
	</update>
	
	<update id="cardPushPosition" parameterType="Map">
	  UPDATE card
	  SET card_order = card_order + 1
	  WHERE board_no = #{board_no} AND card_list_no = #{destination_card_list_no} AND card_order >= #{destination_card_order}
	</update>
	
	<!-- SAME -->
	<update id="cardSamePosition" parameterType="Map">
    	UPDATE card
    	SET card_order = #{destination_card_order}
    	WHERE card_no = #{card_no}
	</update>
	
	<update id="cardHighSamePosition" parameterType="Map">
	<![CDATA[
		UPDATE card
    	SET card_order = card_order - 1
    	WHERE board_no = #{board_no}
    	AND card_list_no = #{destination_card_list_no}
    	AND card_order <= #{destination_card_order}
    	AND card_order > #{source_card_order}
	]]>
	</update>
	
	<update id="cardLowSamePosition" parameterType="Map">
    <![CDATA[
		UPDATE card
    	SET card_order = card_order + 1
    	WHERE board_no = #{board_no}
    	AND card_list_no = #{destination_card_list_no}
    	AND card_order >= #{destination_card_order}
    	AND card_order < #{source_card_order}
	]]>
	</update>
	
	
	<delete id="deleteBoard" parameterType="int">
		DELETE FROM board
		WHERE board_no = #{boardNo}
	</delete>
	
	<insert id="addCardsList" parameterType="Map">
		INSERT INTO cards_list
		(board_no, title, list_order)
		VALUES
		(#{board_no}, #{title}, #{list_order})
	</insert>
	
	<update id="editCardsList" parameterType="Map">
    	UPDATE cards_list
    	SET title = #{title}
    	WHERE cards_list_no = #{cards_list_no}
	</update>
	
	<update id="deleteCardsListPosition" parameterType="Map">
	<![CDATA[
		UPDATE cards_list
    	SET list_order = list_order - 1
    	WHERE board_no = #{board_no}
    	AND list_order > #{list_order}
	]]>
	</update>
	
	<delete id="deleteCardsList" parameterType="Map">
    	DELETE FROM cards_list
    	WHERE cards_list_no = #{cards_list_no}
	</delete>
	
	<insert id="addCard" parameterType="Map">
		INSERT INTO card
		(contents, card_list_no, board_no, card_order)
		VALUES
		(#{contents}, #{card_list_no}, #{board_no}, #{card_order})
	</insert>
	
	<update id="editCard" parameterType="Map">
    	UPDATE card
    	SET contents = #{contents}
    	WHERE card_no = #{card_no}
	</update>
	
	<update id="deleteCardPosition" parameterType="Map">
	<![CDATA[
		UPDATE card
    	SET card_order = card_order - 1
    	WHERE board_no = #{board_no}
    	AND card_list_no = #{card_list_no}
    	AND card_order > #{card_order}
	]]>
	</update>
	
	<delete id="deleteCard" parameterType="Map">
    	DELETE FROM card
    	WHERE card_no = #{card_no}
	</delete>
</mapper>