<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org/DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="UserDAO" >
	<update id="updateNickname" parameterType="Map">
		update member
		set nickname = #{nickname}
		where email = #{email}
	</update>
	
	<select id="getOneUser" parameterType="Map" resultType="Map">
		select * from member
		where email = #{email}
	</select>
	
	<update id="updatePassword" parameterType="Map">
		update member
		set password = #{newPassword}
		where email = #{email}
	</update>
	
	<select id="getOneUserPw" parameterType="Map" resultType="Map">
		select password from member
		where email = #{email}
	</select>
	
	<update id="deleteUser" parameterType="Map"> 
		update member
		set is_deleted = 1, deleted_date = now()
		where email = #{email}
	</update>
	
	<delete id="deleteOldUser">
		<![CDATA[ 
			DELETE FROM member
    		WHERE is_deleted = 1 AND deleted_date < DATE_SUB(NOW(), INTERVAL 7 DAY)
		]]> 
	</delete>
</mapper>